@model X.PagedList.IPagedList<EmporioVirtual.Models.Categoria>

@{
    ViewData["Title"] = "Itens de Categoria";
}

    <h1>@ViewData["Title"]</h1>

@foreach (Categoria categoria in Model)
{
    @categoria.Nome;
    <br/>
}

@Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
