
@{
    ViewData["Title"] = "EnderecoEntrega";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <!-- Listar só os endereços -->

                <div class="text-center">
                    <a asp-action="CadastroEnderecoEntrega" asp-controller="Home" asp-area="Cliente" asp-route-returnUrl="@Url.Action("EnderecoEntrega", "Carrinho", new { area = "" } )" class="btn btn-primary">Cadastrar Novo Endereço</a>
                </div>
            </div>
            
            <br />
            <br />
        </div>
    </div>

