
@{
    ViewData["Title"] = "ListagemCategoria";
    var slog = ViewContext.RouteData.Values["slog"];
}

<h1>ListagemCategoria - @slog</h1>
<ul>
    @foreach (Categoria categoria in ViewBag.Categorias)
    {
        <li>@categoria.Id - @categoria.Nome</li>
    }
</ul>

